.bundle/
Gemfile.lock
coverage/
doc/
pkg/
vendor/
optcarrot-*.gem

.git
.dockerignore
.*.sw*
**/.*.sw*
tools/nes-test-roms
SDL2.dll
video.png
video.gif
audio.wav
stackprof-*.dump
perf.data
perf.data.old
benchmark/bm-*.csv
benchmark/Dockerfile.*
tmp
