/.bundle/
/Gemfile.lock
/benchmark
/coverage/
/pkg/
/vendor/
optcarrot-*.gem

.*.sw*
/tools/nes-test-roms
video.png
video.gif
audio.wav
stackprof-*.dump
perf.data
perf.data.old
benchmark/bm-*.csv
ppu-core.rb
cpu-core.rb
benchmark/Dockerfile.*
benchmark/*-core-opt-*.rb
